@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

:root {
    --violet: #561981;
    --dark: #360d51;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    scrollbar-color: var(--white) transparent;
}

html,
body {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    height: 100%;
    transition: 1s;
    user-select: none;
    width: 100%;
}

header {
    align-items: center;
    border-bottom: 1px solid var(--violet);
    display: flex;
    padding: 2% 0 2% 0;
    width: 95%;
    height: 60px;
    max-width: 620px;
    margin-bottom: 40px;
    justify-content: space-between;
}

header h1 {
    font-size: 16pt;
    font-weight: bold;
    color: var(--violet);
}

#logo {
    display: flex;
    text-decoration: none;
}

#logo img {
    width: 20px;
    height: 20px;
    margin-right: 5%;
}

#duroList,
#todoListTasks,
main {
    border: 1px solid var(--violet);
    width: 90%;
    display: flex;
    margin: 0 auto;
    max-width: 480px;
    border-radius: 6px;
    align-items: center;
    text-align: center;
    padding: 30px 0 30px;
    flex-direction: column;
    background-image: url('../../res/icons/waves.svg');
}

#todoListTasks {
    padding: 0;
    height: auto;
    overflow: auto;
    background-color: var(--white);
    border: 0;
}

.todoListCard {
    text-align: left;
    padding: 6%;
    font-size: 16pt;
    width: 100%;
    background-color: var(--violet);
    color: var(--white);
    font-weight: bold;
    border: 0;
    border-radius: 2%;
    display: table-row;
    margin: 0 0 2% 0;
    cursor: pointer;
    background-image: url('../../res/icons/waves.svg');
    background-position: 0%;
    background-clip: inherit;
}
main nav,
main ul {
    width: 100%;
}

#pomoduroTimer {
    color: var(--white);
    font-size: 76pt;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
}

#pomodoro-durations {
    width: 100%;
}

#pomodoroStopButton,
#timerControlButton {
    border: 1px solid var(--white);
    width: 200px;
    cursor: pointer;
    font-size: 12pt;
    margin-top: 20px;
    color: var(--white);
    border-radius: 6px;
    font-weight: bold;
    padding: 12.2px 20px;
    background-color: transparent;
    /* background-color: var(--white); */
    /* box-shadow: #d6d6d6 0px 6px 0px; */
}
#pomodoroStopButton:hover,
#timerControlButton:hover {
    color: var(--violet);
    background-color: var(--white);
}

#settingsControlButton {
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    color: #ffffff;
    font-size: 12pt;
    font-weight: bold;
    padding: 6px 12px;
    background-color: var(--violet);
    display: inline-block;
    margin: 0 2% 2% 0;
}

#pomodoro-study,
#pomodoro-break,
#settingsOpenControlButton {
    cursor: pointer;
    border: 0px;
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
    padding: 6px 16px 6px 16px;
    height: auto;
    color: var(--white);
    background-color: var(--violet);
}

#pomodoro-study,
#pomodoro-break {
    /* background-color: wheat; */
    width: 25%;
}
#pomodoro-study {
    background-color: var(--violet);
}
#pomodoro-break {
    background-color: transparent;
}

#settings {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(82, 25, 129, 0.5);
}

#settings-content {
    background-color: var(--white);
    height: fit-content;
    margin: auto;
    border-radius: 6px;
}

#settings-footer {
    font-size: 12px;
    padding: 2% 0 2% 0;
    border-top: 1px solid var(--violet);
}

#settings-footer a {
    color: var(--violet);
}

#settings-footer li + li::before {
    content: ' | ';
}
#settings-footer ul li {
    display: inline;
}

#settings-dedication,
#settings-license {
    padding: 2% 0 0 0;
}

#settings-header {
    border-bottom: 1px solid var(--violet);
    padding: 0 0 2% 0;
}
#settings-header h1 {
    font-weight: bold;
    color: var(--violet);
}

#settings-input {
    margin: 2% 0 2% 0;
}

#settings-close {
    color: var(--violet);
    float: right;
    font-weight: bold;
}

#settings-note {
    padding: 2% 0 2% 0;
    color: var(--violet);
    font-weight: bold;
    font-size: 12px;
}

#settings,
#settings-content {
    padding: 20px 20px 20px 20px;
    animation-duration: 0.5s;
}

#settings-close:hover,
#settings-lose:focus {
    color: var(--dark);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#timeWork,
#timeBreak {
    border-radius: 6px;
    background-color: var(--white);
    border: 1px solid var(--violet);
    font-size: 12pt;
    padding: 12px;
    box-shadow: none;
    color: var(--violet);
    font-weight: bold;
    width: 50%;
    box-sizing: border-box;
}

#duroList {
    background-color: var(--white);
    flex-direction: row;
    background-image: none;
    border: 0;
}

#addTask {
    border: 1px solid var(--violet);
    border-radius: 6px;
    width: 70%;
    font-size: 12pt;
    font-weight: bold;
    padding-left: 12px;
    height: 64px;
    color: var(--violet);
}
::placeholder {
    color: var(--violet);
}

#listControlButton {
    border: 0;
    border-radius: 6px;
    color: var(--white);
    font-size: 12pt;
    font-weight: bold;
    width: 25%;
    background-color: var(--violet);
    cursor: pointer;
    height: 64px;
    margin-left: 5%;
}

input {
    outline: none;
}

label {
    font-size: 12pt;
    display: inline-block;
    width: 86px;
    color: var(--violet);
    font-weight: bold;
}
